{% extends "::base.html.twig" %}

{% block body %}
    <div class="background-error">
        <div class="error_message">
            <h1>Error 404</h1>
            <h2>Il n'y a rien ici.</h2>
            <a href="{{ path('homepage') }}">
                <h3> Retourne à la page d'acceuil.</h3>
            </a>
        </div>
    </div>
{% endblock %}
